@model WebApp.ChaatsModel.Drink

@{
    ViewData["Title"] = "Edit";
}
<style>

    .blax {
        background-size: contain;
        background-repeat: no-repeat;
        min-width: 100%;
        margin-top: -40px;
        position: absolute;
        left: -50%;
        right: -50%;
        margin: auto;
        top: 10%;
    }
</style>

<div class="container">
    <img src="~/image/drink.jpg" class="blax" />





    <div class="row">
        <div class="col-md-4">
            <h1>Update Drink</h1>
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Did" />

                <div class="form-group">
                    <label asp-for="Dname" class="control-label"></label>
                    <input asp-for="Dname" class="form-control" />
                    <span asp-validation-for="Dname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Dprice" class="control-label"></label>
                    <input asp-for="Dprice" class="form-control" />
                    <span asp-validation-for="Dprice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update Menu" class="btn btn-primary" />
                </div>
            </form>
            <div>
                <a asp-action="DrinkDetails" class="text-dark">Back to Drinks Menu</a>
            </div>
        </div>
    </div>

</div>    

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
